*{
    font-size: 12px;
}
.text_logo{
    font-family: "Sofia";
    text-shadow: 2px 2px 5px gray;
    text-transform: uppercase;
}
.header_report{
    width: 100%;
    height:70px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: block;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}
.for_logo{
    width: 250px;
    height: 100%;
    display: block;
    position: relative;
    float: left;
}
.img_titll{
    height: 100%;
}
.for_title{
    width: 250px;
    height: 100%;
    display: block;
    position: relative;
    float: left;
    left: 30%;
    transform: translateX(-70%);
    text-align: center;
    color: rgb(216, 14, 14);
    font-size: 10px;
}
.for_title h1{
    font-size: 20px;
}
.for_title h2{
    font-size: 20px;
}
.for_data{
    width: 220px;
    height: 100%;
    display: block;
    position: relative;
    right: 0%;
    float: right;
}
.body_report{
    max-width: 1050px;
    height: 790px;
    display: block;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    margin-top: 10px;
    background-color: #ffffff;
    position: relative;
}
.content_report{
    max-width: 1050px;
    max-height: 900px;
    position: relative;
    top: 2pc;
    box-shadow: 0px 0px 10px 1px rgb(143, 143, 143);
    border: 1px solid white;
    border-radius: 5px;
}
.part_one_of_body{
    width: 99%;
    height: 237px;
    margin-left: 0.5%;
    margin-top: 0.5%;
}
.part_tow_of_body{
    width: 99%;
    height: 630px;
    margin-left: 0.5%;
    margin-top: 0.5%;
    position: relative;
}
.table{
    height: auto;
}
.title_opject{
    color: black;
    text-decoration: underline;
    text-align: right;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 21px;
    margin-top: 10px;
}
.input_group_one{
    text-align: right;
    right: 0%;
    display: block;
    width: 50%;
    position: relative;
    right:5px;
    float: right;
}
.input_group_one h4{
    margin-top: 10px;
    display: inline-block;
    text-align: right;
}
.input_group_two h4{
    margin-top: 10px;
    display: inline-block;
    text-align: right;
}
.input_group_two{
    text-align: right;
    display: block;
    width: 50%;
    position: relative;
    right: 5px;
    padding-right: 50px;
}
.end_input_part_one{
    text-align: right;
    right: -17%;
    top: 5.5%;
    display: block;
    width: 79%;
    position: relative;
}
.title_sec{
    width: 30%;
    height: 100%;
    padding: 2px;
    font-size: 20px;
    position: relative;
}
.body_inp_p_n{
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 15px;
    margin-left: 19px;
}
.space{
    width: 50px;
    display: inline-block;
}
#text_fon{
    color: black;
}
#box_tr{
    padding: 5px;    
    text-indent:10px;   
}
th{
    text-align: right;
    border: 1px solid;
    width: auto;
}
td{
    text-align: right;
    border: 1px solid;
    width: 33.3333%;
}
th h5{
    text-align: right;
    position: relative;
    right: 0px;
}
th h6{
    text-align: right;
    position: relative;
    right: 0px;
}
.n_mang{
    position: absolute;
    left: 10%;
    text-align: center;
    margin-top: 3.5%;
}
.n_mang_two{
    position: absolute;
    right: 15%;
    text-align: center;
    margin-top: 1%;
}
.numb_{
    background-color: #ffffff;
    border: none;
    text-align: right;
    }
    .div_btn{
        position: fixed;
        left: 10px;
        top:20%;
    }
    .buton_drop{
        width: 70px;
        height:70px;
        border-radius: 100%;
        padding: 0%;
        padding-left: 3px;
    }
    .date_for_{
        z-index: 999;
        background-color: #ffffff;
    }
    #selectes{
        width: 100px;
        border: none;
        background-color: #ffffff;
    }
    .pages{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-8%);
        width: 100px;
        height: 40px;
        background-color: rgba(138, 138, 138, 0.767);
        border-radius: 10px;
        transition: 0.5s;
        border: 0.8px solid rgb(190, 190, 190);
        box-shadow: 0px 0px 10px 1px gray;
    }
    .pages:hover{
        background-color: rgba(39, 39, 39, 0.767);
    }
